<div class="container">
  <div class="row">
    <div class="col-lg-4 about-image mb-5">
    </div>
    <div class="col-lg-7 offset-lg-1">
      <h3 class="mb-5">あなたの幸せが人々を癒す</h3>
      <p class="about-sub">もっと美味しいハーブティの飲み方を知りたくありませんか？</br>
      このサイトはハーブティ好きのおすすめが集まってきます。</br>
      あなたは新しい発見に驚き、同じ体験をしてもらいたいと思うでしょう。</br>
      健康（Health）と癒し（Healing）を兼ね備えたハーブティで、</br>
      あなたの日常に、幸せなひとときが訪れますように。</br>
    </div>
  </div>
</div>