<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h2 class="mb-3 text-center">効能一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th>効能</th>
            <th colspan="4"></th>
          </tr>
        </thead>
        <tbody>
          <% @tags.each do |tag| %>
          <tr>
            <td><%= tag.tag_name%></td>
            <td class="d-flex justify-content-around">
              <%= link_to "編集する", edit_admin_tag_path(tag), class:"btn btn-edit px-4" %>
              <%= link_to "削除する", admin_tag_path(tag), method: :delete, class:"btn btn-delete px-4", "data-confirm" => "本当に削除しますか？" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>