<div class="row justify-content-center mb-3">
  <h2>Herb新規登録</h2>
</div>

<%= render 'error_form', herb: @herb %>

<%= form_with model: @herb, url: admin_herbs_path, local: true do |f| %>
  <%= render :partial => "admin/herbs/herb_form", :locals => {:f => f, :tag_list => @tag_list } %>
<% end %>