<%= form_with model: @herb, url: admin_herbs_path, local: ture do |f| %>
<div class="row form-group">
  <div class="col-md-4">
    <%= f.label(:herb_image, "ハーブ画像") %>
  </div>
  <div class="col-md-8">
    <%= f.attachment_field :herb_image, class:"form-control-file" %>
  </div>
</div>
<% end %>