<!--<div class="row d-flex flex-direction justify-content-center">-->
<!--  <div class="col-lg-10">-->
<!--    <div class="text-center mt-3 mb-4">-->
<!--      <h4>おすすめのハーブティの飲み方や、ハーブに関する情報を共有してみましょう</h4>-->
<!--    </div>-->
<!--    <div class="text-center mb-3">-->
      <h5>〜<%#= @herb.herb_name %>〜</h5>
<!--    </div>-->
<!--    <div>-->
    <%#= form_with(model:[@herb, @post_comment], url: herb_post_comments_path, local: true) do |f| %>
      <%#= f.text_area :comment, class:"form-control border rounded-circle p-5", rows:"4", placeholder:"（例）ハイビスカスティーが大好物です。酸味が強いときは蜂蜜を入れるととても飲みやすくなります。" %>
      <%#= f.submit "共有する", class:"btn btn-prymary"%>
    <%# end %>
<!--    </div>-->
<!--  </div>-->
<!--</div>-->